body {
  margin: 0;
 min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fdf6e3;
  font-family: Arial, sans-serif;
}

.page{
  min-height:100vh;
  display:flex;
  flex-direction: coulmn;
}

/* TOP AREA */
.header{
  text-align: center;
  padding-top: 20px 0;
}

/* CNTER AREA */
.main{
  flex: 1;
  display: grid;
  justify-content: center;
  place-items: center;
}

/* Title spacing*/
h1 {
  margin: 0;
  margin-top: 100px;
  margin-bottom: 80px;
  color: #444;
}

/* Cake base */
.cake {
  position: relative;
  width: 220px;
  height: 120px;
  background: #d2691e;
  border-radius: 10px;

  margin: 0;
  left: auto;
  right: auto;
  transform: none;
}

/* Cake top */
.cake-top {
  position: absolute;
  top: -20px;
  width: 100%;
  height: 40px;
  background: #f4a261;
  border-radius: 10px;
}
.cake-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
 }

/* Candles */
.candles {
  position: absolute;
  top: -50px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.candle {
  width: 10px;
  height: 40px;
  background: white;
  border-radius: 3px;
  position: relative;
}

/* Flame */
.flame{
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 16px;
  background: orange;
  border-radius: 50% 50% 50% 50% ;
  animation: flicker 0.15s infinite alternate;

}
 /* Flame animation */
 @keyframes flicker{
  from{
    transform: translateX(-50%)
  scale(1);
     opacity: 0.8;  
  }
  to {
    transform: translateX(-50%)
  scale(1.2);
      opacity: 1;  
  }
 }